/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body Styling */
body {
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
}

.navigation {
  display: flex;
  align-items: center;
}

.btn-home {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.btn-home:hover {
  background-color: #00796b;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column; /* Menyusun elemen di bawah secara vertikal */
}

.user-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2px; /* Memberikan sedikit jarak antara nama dan role */
}

.user-role {
  font-size: 14px;
  color: #888888;
}

/* Sidebar */
.container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #f9f9f9;
  padding: 20px;
  border-right: 1px solid #dddddd;
}

.menu-item {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #888888;
  cursor: pointer;
}

.menu-item.active {
  background-color: #35b987;
  color: #ffffff;
  border-radius: 5px;
}
